.dr-gb-block-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .dr-archive-single {
        padding: 0 0 10px 0;
        box-shadow: 0 0 10px 9px #7861617a;
        figure {
            a {
                position: relative;
                background-size: cover;
                background-position: center;
                overflow: hidden;
                border: 1px solid rgb(0, 0, 0);
                img {
                    display: none;
                }
            }
        }
    }
}